.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 15px;


}

.forms_Box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px;
  width: 400px;
  height: auto;
}

.input_log {
  width: 100%;
  height: 2.4rem;
  border-radius: 8px;
  border: 1.8px solid #ccc;
  font-size: 0.95rem;
  transition: 0.2s;
  padding-left: 3px;
}

.brand-title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #0057b8;
}

.form-group .label_log {
  font-size: 1.2rem;
  width: 100%;
  padding: 3px;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.close-btn {
  position: absolute;
  right: 23px;
  top: 12px;
  font-size: 1.8rem;
  cursor: pointer;
  color: rgb(255, 234, 0);
}

button {
  width: 100%;
  padding: 0.75rem;
  background: #0057b8;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 0.7rem;
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4);

}

#submitBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 35px rgba(255, 107, 107, 0.4);
}

/* Back */
.forgot-password,
.back-to-login {
  color: #4ecdc4;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  transition: color 0.3s;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.msg {
  /* margin-top: 10px; */
  font-size: 0.9rem;

}

.sentTo {
  color: red;

}

.change-email:hover {
  color: #ff6b6b;
}

.change-email {
  color: #4ecdc4;
  cursor: pointer;
  font-size: 1.2rem;

}

.hidden {
  display: none;
}